/****************/
/*****BELOW 1346px*****/
/****************/

@media (max-width: 84em) {
  .hero {
    max-width: 120em;
  }
  .heading-primary {
    font-size: 4.4em;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial-container {
    padding: 9.6rem;
  }
}

/****************/
/*****BELOW 1201px*****/
/****************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8em;
    row-gap: 6.4em;
  }
  .hero {
    gap: 4.8em;
  }
  .header {
    padding: 0 11em;
  }
  .heading-secondary {
    font-size: 3.6em;
  }
  .heading-tertiary {
    font-size: 2.4em;
  }
  .main-nav-list {
    gap: 3.2em;
  }
}

/****************/
/*****BELOW 945px*****/
/****************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 11rem;
    gap: 6.4em;
  }
  .hero-img {
    width: 50%;
  }

  .hero {
    text-align: center;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2em;
  }
  .logos img {
    height: 2.4em;
  }
  .step-number {
    font-size: 7.2em;
  }
  .meal-content {
    padding: 2.4em 3.2em 3.2em 3.2em;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .cta button {
    margin-top: 2.4em;
  }

  /***********************/
  /* MOBILE NAV STYLES */
  /***********************/
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8em;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3em;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

/****************/
/*****BELOW 775px*****/
/****************/

@media (max-width: 49em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diets {
    margin-top: 4.8em;
    grid-column: 1/ -1;
    justify-self: center;
  }
  .section-how {
    padding: 9.6em 0;
  }
  .pricing-plan {
    width: 100%;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2em;
  }
}

/****************/
/*****BELOW 544px (mobile)*****/
/****************/
@media (max-width: 39em) {
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .grid {
    row-gap: 0.48em;
  }
  .section-hero {
    padding: 2.4em 0 6.4em 0;
  }
  .hero {
    padding: 0 3.2em;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.6em;
    padding: 1.6em 1.6em;
  }
  .hero-img {
    width: 80%;
  }
  .logos img {
    height: 1.2em;
    filter: brightness(-50%);
    opacity: 50%;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    transform: translateY(3.2em);
  }
  .step-description {
    margin-bottom: 2.4em;
  }
  .meal:nth-child(1) {
    margin-bottom: 3.2em;
  }
  .meal {
    box-shadow: 0 1.6em 3.2em rgba(0, 0, 0, 0.2);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2em;
  }
  .pricing--plan-starter {
    margin-bottom: 3.2em;
  }
  .feature-icon {
    transform: translateY(2.4em);
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-img-box {
    height: 32em;
    grid-row: 1;
  }
  .grid--footer {
    row-gap: 6.4em;
  }
  .footer-nav {
    gap: 1.2em;
  }
  .footer-heading {
    margin-bottom: 1.2em;
  }
  .footer {
    padding: 9.6em 0 2.4em 0;
  }
  .cta-text-box {
    padding: 3.2em;
  }
  .section-how {
    padding: 0 3.2em;
  }
}
